# Logs
logs
*.log

# Environment
.env
.env.*

# OS
.DS_Store
Thumbs.db

# Node
**/node_modules

# Build
**/dist
**/build

# Expo
**/.expo
**/.expo-shared

# Coverage
coverage

# Prisma
**/prisma/dev.db